.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: flex;
}
.projects img {
    width: 60em;
    border-radius: 5px;
    margin: 1em;
    box-shadow: 3px 5px #888888;
}
.projectContainer{
    display: flex;
    margin: 1em;
    padding: 0;
}
.projectContainer h3{
    background-color: black;
    color: lightseagreen;
    text-align: left;
    padding: 1%;
    border-radius: 5px;
    border: 2px solid black;
    overflow: hidden;
    width: 100%;
    margin: auto;
    border: 2px solid white;
    box-shadow: 3px 5px #888888;

}
.projects .projectGit{
    width: 2em;
    border: solid white 2px;
    padding: 1em;
    background: rgba(0,0,0,0.25);
    

}
.projects .compIcon{
    width: 2em;
    border: solid white 2px;
    padding: 1em;
    background: rgba(0,0,0,0.25);
}
.projBottom{
    padding-top: 10em;
    
}
/* #projects:hover{
    animation: 
    typewriter 8s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  } */
@media(max-width:420px){
    .projectContainer{
        flex-direction: column;
    }
    .projectContainer h3{
        width: 50%;
    }
    .projBottom{
        margin: 0;
        padding: 0
    }
}
@media(max-width: 770px){
    .projects img{
        width: 100%;
    }
    .projectContainer h3{
        width: 80%;
    }
}